<p>尊敬的用户 [{{username}}] 您好， </p>

<br />
<br />

<p>欢迎来到 4USDT 商家平台。 请通过下方链接激活您的账户：
</p>
<p><a href="https://www.4usdt.com/merchant_active?token={{url}}">https://www.4usdt.com/merchant_active?token={{url}}</a></p>
<br />

<p>该链接在您收到邮件的24小时内有效。如果链接失效，请联系您的管理员重新邀请。请不要将此链接透露给他人！如果您不了解上述行为，请忽略此邮件。</p>

<br />
<p>谢谢！</p> 
<p>4usdt 团队 </p>
<p>ray@4usdt.com </p>
 

<br />
<p><a href="https://www.4usdt.com">https://www.4usdt.com</a></p>