<p>尊敬的用户 [{{username}}] 您好， </p>

<br />
<br />

<p>欢迎来到 Bitmall 商家平台。 请通过下方解除谷歌验证码绑定：
</p>
<p><a href="https://www.bitmall.com/unbind_google_code?token={{url}}">https://www.bitmall.com/unbind_google_code?token={{url}}</a></p>
<br />

<p>该链接在您收到邮件的24小时内有效。如果链接失效，请联系您的管理员重新邀请。请不要将此链接透露给他人！如果您不了解上述行为，请忽略此邮件。</p>

<br />
<p>谢谢！</p>
<p>Bitmall 团队 </p>
<p>ray@bitmall.com </p>


<br />
<p><a href="https://www.bitmall.com">https://www.bitmall.com</a></p>
